{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>My Portfolio</title>
     <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<div class="box">

    <h1>SHIBIL SHAN</h1>
    <h3>BE Computer Science Student</h3>

    <h3>About Me</h3>
    <p>
        I am a 2nd year student at Nehru Institute of Engineering and Technology.
    </p>

    <h3>Skills</h3>
    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>Python</li>
        <li>C Programming</li>
    </ul>

    <h3>Contact</h3>
    <p>Phone: 9074593697</p>
    <p>Email: shibil@gmail.com</p>

</div>

</body>
</html>
